/* base styles */

html {
    /* background: url('../assets/waves_alt.jpg') no-repeat center center fixed; ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background: transparent;
    height: 100%;
}

body.page-template-default {
    background: url('../assets/paper.png');
    background-repeat: repeat;
}

.home #page {
    background: #2b6684;
    background: -moz-linear-gradient(top, #2b6684 0%, #1f2a39 100%);
    background: -webkit-linear-gradient(top, #2b6684 0%,#1f2a39 100%);
    background: linear-gradient(to bottom, #2b6684 0%,#1f2a39 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6684', endColorstr='#1f2a39',GradientType=0 );
    height: 100%;
}

/* header */

.site-title {
    margin: 0;
    text-indent: -9999px;
}

#primary-menu {
    width: 100%;
    text-align: center;
}

.main-navigation {
    float: none;
}

#site-navigation .menu-item {
    display: inline-block;
    padding: 30px;
    float: none;
}

#site-navigation .menu-item a {
    cursor: pointer;
    color: #111111;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#site-navigation .menu-item a:hover, #site-navigation .current-menu-item a {
    font-weight: bold;
    color: #ef4036;
}

#masthead {
    border-bottom: 4px solid #ef4036;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, .07);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, .07);
    background: white;
}

.menu-toggle {
    background: white;
    border: none;
    margin: 0 auto;
    font-size: 1.1em;
}

.menu-toggle:active, .menu-toggle:focus {
    outline: none;
}


#header_logo {
    width: 180px;
    position: absolute;
    top: 8px;
    left: 30px;
}

#logo {
    width: 48%;
    display: block;
    margin: -25px auto 40px auto;
}

/*** body ***/

#page {
    position: relative;
}

.home #main {
    padding-top: 3em;
}

.accent {
    position: absolute;
    z-index: 99;
    width: 50%;
    background: #ef4036;
    top: 0;
    bottom: 0;
}

#accent_1 {left: 0;}
#accent_2 {right: 0;}

#login_1 {
    color: white;
    text-decoration: none;
}

#login_1 button {
    cursor: pointer;
    background: transparent;
    border: 4px solid white;
    color: white;
    text-align: center;
    font-size: 1.4em;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#login_1 button:hover {
    background: #ef4036;
}

#contactList, #hours, #secondary-menu {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

#contactPhone {
    font-size: 2.3em;
}

#contactMail {
    font-size: 1.7em;
}

#hours li, #secondary-menu li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
}

#contactList li a, #hours li, #secondary-menu li, #secondary-menu li a {
    color: white;
    text-decoration: none;
}

/*** Footer ***/

.site-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#page .site-footer {
    background: #333;
}

.site-info p {
    color: white;
    width: 100%;
    text-align: center;
}

/*** Pages ***/

.entry-header {
    height: 240px;
    text-align: center;
    background: #2b6684;
    background: -moz-linear-gradient(top, #2b6684 0%, #1f2a39 100%);
    background: -webkit-linear-gradient(top, #2b6684 0%,#1f2a39 100%);
    background: linear-gradient(to bottom, #2b6684 0%,#1f2a39 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6684', endColorstr='#1f2a39',GradientType=0 );
    border-bottom: 4px solid #ef4036;
}

.entry-title {
    font-weight: 900;
    color: white;
    margin: 0;
    font-size: 3em;
    line-height: 5em;
    letter-spacing: 0.12em;
}

.entry-content {
    width: 60%;
    background: white;
    float: left;
    padding: 1em 1em 3em 1em ;
    min-height: 100%;
    margin: 0;
    box-shadow: -9px 0 18px -9px #333, 9px 0 18px -9px #333;
}

.entry-content_spacer {
    float: left;
    width: 20%;
    height: 100%;
    min-height: 100px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*** Media Queries ***/

@media all and (max-width: 768px) {

    .entry-content_spacer {
        width: 2%;
    }

    .entry-content {
        width: 94%;
    }


    body.page #site-navigation {
        margin-top: 5px;
        border-top: 4px solid #ef4036;
    }

    #site-navigation .menu-item {
        width: 100%;
        padding: 12px;
    }

    #logo {
        width: 75%;
    }

    .site-footer {
        position: relative;
    }

    .entry-title {
        font-size: 1.8em;
        padding-top: 15%;
        line-height: 2em;
    }

}

@media all and (max-width: 1100px) {
    #header_logo {
        left: 0;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 20px 0;
    }
}
